
/*Generals*/
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

/*Utilities*/

.bg-white{
    background-color: white;
}

/*Header*/

header{
    height: 100px;

    position: sticky;
    top:0;
    right:0;
    left:0;

    color:#F8F9FA;

}

.icon-box-mobile{
    max-width: 65px;
}


.icon-box{
    max-width: 285px;
    max-height: 100px;
}

.btn{
    width:20px;
}

.ul-navbar-icon{
    max-width: 100%;
}

.cs-btn{
    color: white;
    border: 1px white solid;
    background-color: #1B72E8;
    border-radius: 7px;
    font-size: 30px;
    padding: 0px 13px;
    width: 50px;
    height: 50px;
}

/* **************** MAIN **************** */

.wrapper{
    height: calc(100vh - 100px);
}


/* Side-bar*/
.side-bar{
    background-image:url(../img/sidebar-bg.png);
    flex-basis: 100px;
    flex-shrink: 0;
    background-color: #051E34;
}

.icon-menu{
    height:calc(100% - 100px);
}

.side-bar a{
    color:white;
    text-decoration: none;
}
.settings{
    height: 100px;
}

@media screen and (min-width:992px){
    .side-bar{
        flex-basis:150px;
    }
}

/* header-main*/

.header-main{
    min-height: 150px;
}

.blu-border{
    background-color: #165BBA;
    padding:5px 10px;
    border-radius: 20px;

}

/*main*/

main{
    max-height: 100%;
}


.container-card{
    margin:15px;
    border:1px solid lightgray;
}

.result{
    padding:2px 10px;
    color:white;
    border-radius: 10px;
}

.modify-icon i{
    color:gray;
    border:1px solid gray;
    padding:10px 10px;
    border-radius:5px;
}

.class-box img{
    max-width: 30px;
}